# Staging Expo app template
APP_ENV=staging
EXPO_PUBLIC_API_URL=https://pierreclubs-backend-staging.fly.dev
EXPO_PUBLIC_EAS_PROJECT_ID=6c405b8b-7cb7-454f-a1a7-fb52014dcf35
EXPO_PUBLIC_STRIPE_KEY=pk_test_your_publishable_key_here
EXPO_PUBLIC_POSTHOG_KEY=
EXPO_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
EXPO_PUBLIC_SUPPORT_URL=https://staging.pierre.app/support
EXPO_PUBLIC_PRIVACY_URL=https://staging.pierre.app/privacy
EXPO_PUBLIC_TERMS_URL=https://staging.pierre.app/terms
